<%if @cat_name %>
<h1>My name is <%= @cat_name %></h1>
<% end %>
<form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<div style='border: 200px dashed red'>
  <img src='https://m.media-amazon.com/images/I/51KNy3fAsgL._AC_.jpg'>
</div>